* {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    box-sizing: border;
    transition: 0.6s ease;
}
body {
    background-color:rgb(246, 249, 244);
    margin: auto;
    width: 60%;
    padding: 10px;
}
a {
   cursor: pointer;
   text-decoration: none;
}
a:link{
  color: blue;
}
a:hover {
    color: orangered;
  }
header {
    top: 0;
    padding-top: 28px;
}
#header-container {
    border-bottom: 1px solid rgb(101, 99, 99);
    text-align: end;
}
main {
    margin: 3px auto;
    padding: 10px;
}
#blog-posts {
    font-size: 20px;
    font-weight: 700;
    margin: 5px auto;
}
#new-post-link {
    text-align: right;
    margin: 10px auto;
}
#post-table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 3px auto;
    padding: 2px;
    background-color: white;
}
.table-head {
    border: 1px solid black;
    padding: 3px;
    font-size: 15px;
    font-weight: 600;
}
.table-row {
    border: 1px solid black;
    padding: 3px;
    font-size: 13px;
    font-weight: 400;
}
.table-column {
    border: 1px solid black;
    padding: 5px;
}

/*Media Queries for responsive design */
@media only screen and (max-width: 1200px) {
    body {
        margin: auto;
        width: 80%;
    }
}
@media only screen and (max-width: 992px) {
    body {
        margin: auto;
        width: 90%;
    }
    main {
        margin: 0;
    }
}
@media only screen and (max-width: 768px) {
    body {
        margin: auto;
        width: 95%;
    }
    header {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #post-table {
       table-layout: fixed;
       max-width: 180px;
    }
    th, td {
       width: 94px;
       overflow: hidden;
    }
}
@media only screen and (max-width: 430px) {
    #post-table {
        max-width: 170px;
     }
     th, td {
        width: 64px;
     }
}
@media only screen and (max-width: 378px) {
    #post-table {
        max-width: 160px;
     }
     th, td {
        width: 58px;
     }
}
@media only screen and (max-width: 300px) {
    #post-table {
        max-width: 120px;
     }
     th, td {
        width: 45px;
     }
}